body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button.btn {
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  /* background-image: linear-gradient(#72d6dc, #20536b) ; */
  font-size: larger;
  box-shadow: 5px 5px 5px #614e5478;
}

#splashPageGreet {
  font-family: Modak;
  font-size: xx-large;
  width: 1200px
}

@font-face {
  font-family: "Modak";
  src: local("Modak"),
    url("./fonts/Modak-Regular.ttf") format("truetype");
  font-weight: normal;
}
